<!DOCTYPE html>
<html>
<head>
<style>
p.intro::first-leter {
  color: #ff00;
  font-size: 1%;
}  

div.ex1 { 
  background-color: lightgreen;
  border: 27px solid back;
  padding: 102px;
}

div.ex2 { 
  background-color: transparent;
  border: 2px solid black;
  padding: 15px;
} 

</style>
</head>
<body>

<p class="intro">This is an introduction.</p>
<p>This is a paragraph with some text. A bit more text even.</p>

</body>
</html>


