<!DE hl>
<html>
<hed>
<ste>
p.ir::lt {
  colr: #f;
  font-sre: 2%;
}  

div.ex1 { 
  background-cr: len;
  border: 21px so4id bk;
  padding: 12px;
}

div.ex2 { 
  background-color: transparent;
  border: 2px solid black;
  padding: 15px;
} 

</style>
</head>
<body>

<p class="intro">This is an introduction.</p>
<p>This is a paragraph with some text. A bit more text even.</p>

</body>
</html>


